<div id="newuserbackground">
<div id="newuserbody">
  <%= flash[:danger] %>
  <%flash.clear%>
  <h1 class="newh1">Create a New User</h1>
  <br>
  <br>
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, :class => "newinput inputsize"%><br>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password, :class => "newinput inputsize" %><br>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "newinput inputsize" %><br>
    <br>
    <%= f.label :home_city %>
    <%= f.text_field :home_city, :class => "newinput inputsize" %><br>
    <br>
    <%= f.label :bio %>
    <%= f.text_field :bio, :class => "newinput inputsize" %><br>
    <br>
    <br>
    <%= f.submit :class =>"inputbutton" %>
  <% end %>
</div>
</div>