<h1>Create a New User</h1>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.text_field :password %><br>
  <%= f.label :home_city %>
  <%= f.text_field :home_city %><br>
  <%= f.label :bio %>
  <%= f.text_field :bio %><br>
  <%= f.submit %>
<% end %>