<div class="loginbackground">
  <div class="loginbody">
    <%= flash[:new_user_message] %>
    <%= form_tag "/authenticate", method: "post" do %>
      <%= text_field_tag :'user[username]', placeholder: "Username" %><br>
      <%= text_field_tag :'user[password]', placeholder: "Password" %><br>
      <%= submit_tag "log in" %>
    <% end %>
    <h5>or</h5>
    <h5><%= link_to "create a new account", new_user_path %></h5>
  </div>
</div>