<div id="showbackground">
<div class="showbody">
    <div class="showimg">
        <h1 id="post_username"><%=link_to @post.user.username, user_path(@post.user)%>
            <span class="imagetag">
                &nbsp;
                &#8226;
                <%=link_to @post.location.name.titleize, location_path(@post.location)%>
                ,
                <%=link_to @post.location.city.name.titleize, city_path(@post.location.city)%>
            </span>
            <br>
            <br>
        </h1>
        <br>
        <br>
        <%=image_tag(url_for(@post.avatar))%>
        <br>
        <br>
        <h2>
        <%=@post.caption%>
        <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </br>
        </br>
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
        <% else %>
          <%= button_to 'Like', post_likes_path(@post), method: :post %>
        <% end %>
        <%=button_to "Delete Post", {:controller => :posts, :action => 'destroy', :post_id => @post.id}, :method => :delete%>

        </h2>
        <br>
        <br>
        </br>
        </br>
        <%if @post.user.id == current_user.id%>
            <%=button_to "Delete Post", {:controller => :posts, :action => 'destroy', :post_id => @post.id}, :method => :delete%>
            <%=button_to "Edit Post", {:controller => 'posts', :action=> 'edit', :id => @post.id}, :method => :get%>
        <%end%>
    </div>
</div>
</div>